<main>
    <h1>Products</h1>
    @if (isAuthenticated) {
        <button (click)="goToCreateProductPage()">Create Product</button>
    } @else {
        <p>Please login to see products</p>
    }
    @if (products.length > 0) {
        <ul>
            @for (product of products; track product.id) {
                <li>
                    <span>{{ product.name }}</span>
                    <span>Price: {{ product.price }}</span>
                    <span></span>
                </li>
            }
        </ul>
    }
</main>
