<main>
    <h1 class="bg-gradient-to-br from-[#888800] via-[#880088] to-[#008888] text-white mb-2">Products</h1>
    <div class="px-5">
        @if (isOrderSuccess) {
            <div class="border-green rounded-xl mb-2">
                <p>Order placed successfully</p>
            </div>
        }
        @if (isOrderFailed) {
            <div class="border-2 border-red-300 rounded-xl w-3/4 flex flex-row justify-center mb-2">
                <p>Order Failed</p>
            </div>
        }
        @if (isAuthenticated) {
            <button class="bg-gradient-to-br from-[#888800] via-[#880088] to-[#008888] text-white rounded-xl px-2 mb-2" (click)="goToCreateProductPage()">Create Product</button>
        } @else {
            <p>Please login to see products</p>
        }
        @if (products.length > 0) {
            <ul>
                @for (product of products; track product.id) {
                    <li>
                        <div class="border rounded-xl flex flex-row w-3/4 mb-2" style="border-color: #880088;">
                            <div class="border-r m-2 flex flex-col w-3/4">
                                <p>{{ product.name }}</p>
                                <p>Price: ${{ product.price }}</p>
                                <p>{{product.skuCode}}</p>
                            </div>
                            <div class="m-2 flex flex-col gap-2">
                                <div class="flex flex-row">
                                    <p>Quantity : </p>
                                    <input type="number" class="border-b border-grey w-10" #quantityInput/>
                                </div>
                                <button class="border rounded-xl" (click)="orderProduct(product, quantityInput.value)">Order</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</main>
